body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(3, 36, 37);
    color: antiquewhite;
}
.container{
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    width: 320px;
    text-align: center;
}
h1{
     font-size: 26px;
     color:aqua;
     margin-bottom:20px;
}
.input-group{
    margin:20px 0;
    text-align: left;
}
lable{
    display:block ;
    margin-bottom: 8px;
    color: bisque;
    font-size: 14px;
}
input{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    background-color: darkslategrey;
    color: beige;
    font-size: 16px;
    box-sizing: border-box;
}
input:focus{
    outline: none;
    box-shadow: aqua;
}
button{
    background-color: aqua;
    color: black;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}
button:hover{
    background-color: rgb(0, 192, 192);
}
#result{
    margin-top: 25px;
    font-size: 18px;
    color: blanchedalmond;
}